<div class="container" *ngIf="!loading">
    <header>
        <nav aria-label="breadcrumb" class="breadcrumb-container float-right">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><strong>Você está em: </strong><a href="#">Página Inicial</a></li>
                <li class="breadcrumb-item active">Turmas</li>
            </ul>
        </nav>
        <h2 class="main-title">Listar Turmas <a class="badge badge-link" routerLink="/turmas/new">Cadastrar nova turma</a></h2>
    </header>
    <section class="empty-content">
        <div class="row justify-content-center" *ngIf="!gridRowData.items.length">
            <div class="col-8 first-time-try">
                <h3><small class="break-line">Parece que nenhuma turma foi cadastrada.</small></h3>
                <a class="btn btn-lg btn-success" routerLink="/turmas/new">Cadastrar nova Turma</a>
            </div>
        </div>
    </section>
    <section class="content">
        <grid-component [rowData]="gridRowData" [columnDefs]="gridColumnDefs" (onPageChange)="onPageChange($event)"></grid-component>
    </section>
</div>
