<header>
	<nav class="navbar navbar-expand-md navbar-light bg-light" style="background-color: rgba(255,255,255,.5) !important;">
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" [ngClass]="{'active': activeItem==1}">
					<a class="nav-link pointer" (click)="onClick(1)">Escolas</a>
				</li>
				<li class="nav-item" [ngClass]="{'active': activeItem==2}">
					<a class="nav-link pointer" (click)="onClick(2)">Turmas</a>
				</li>
			</ul>
		</div>
	</nav>
</header>