<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<span class="navbar-brand">Gerenciamento de Escolas e Turmas</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" [ngClass]="{'active': activeItem==0}">
					<a class="nav-link pointer" (click)="onClick(0)">Home</a>
				</li>
				<li class="nav-item" [ngClass]="{'active': activeItem==1}">
					<a class="nav-link pointer" (click)="onClick(1)">Escolas</a>
				</li>
				<li class="nav-item" [ngClass]="{'active': activeItem==2}">
					<a class="nav-link pointer" (click)="onClick(2)">Turmas</a>
				</li>
			</ul>
		</div>
	</nav>
</header>