<div class="container">
    <h1>Escolas</h1>
    <a class="btn btn-primary" routerLink="/escolas/new">Nova Escola</a>
    <table class="table" *ngIf="escolas.length">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Data de criação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let escola of escolas | paginate: {
                id: 'listing_pagination',
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: total
            }">
                <td>{{escola.name}}</td>
                <td>{{escola.address}}</td>
                <td>{{escola.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="escolas.length">
        <pagination-controls class="text-center" id="listing_pagination" maxSize="5" directionLinks="true"
            (pageChange)="onPageChange($event)" previousLabel="Anterior" nextLabel="Próxima">
        </pagination-controls>
    </div>
</div>