<div class="container">
    <h1>Nova Escola</h1>
    <form [formGroup]="escolaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nome:</label>
            <input class="form-control" required type="text" formControlName="name" placeholder="Nome da escola">
        </div>
        <div class="form-group">
            <label>Endereço:</label>
            <input class="form-control" required type="text" formControlName="address" placeholder="Endereço da escola">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!escolaForm.valid">Salvar</button>
        <a class="btn btn-secondary" routerLink="/escolas">Cancelar</a>
      </form>
</div>
